Data Structures Assignment - 2

Theory questions

1. What are data structures, and why are they important?
     
   Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Think of them as tools or containers specifically designed to handle data in a certain way, depending on what you need to do with it.

2.  Explain the difference between mutable and immutable data types with examples?
  1. Mutable objects: Can be changed after creation.
  2.You can modify, add, or remove elements without creating a new object.
  Ex:- list, dict, set.

In [6]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

Immutable objects: Cannot be changed after creation
Example: int, float, str, tuple

ex:int, float ,strong tuplple

In [7]:
my_str = "hello"
my_str[0]

'h'

3. Differences between tuple and list?

Lists are mutable objects they can be changed after creation.
Tuples are immutable objects they cannot be changed after creation

4. Describe how Dictionaries Store Data?
Dictionaries store key-value pairs.

Under the hood, they use a hash table, allowing fast lookup, insertion, and deletion.

In [8]:
my_dict = {"name": "Alice", "age": 25}

5. Why  you might Use a Set Instead of a List

Sets automatically remove duplicates.

They offer faster membership testing (in) than lists.

In [9]:
my_set = {1, 2, 3, 2}
print(my_set)

{1, 2, 3}

6. What Is a String in Python  and how it is different from list

String: A sequence of characters immutable

List: A sequence of any data types mutable

7. How Tuples Ensure Data Integrity in python

Because tuples are immutable, they cannot be changed after creation.

Useful for fixed collections like coordinates or config settings.

8. What Is a Hash Table and how does its Related to Dictionaries in python

A hash table maps keys to values using a hashing function.

Python dictionaries are implemented using hash tables, making access time almost constant

9. Can Lists Contain Different Data Types in Python?

Yes. Python lists can contain mixed data types

In [10]:
mixed_list = [1, "hello", 3.14, True]

10.  Explain Why Are Strings Immutable in Python?

1.For performance and security.

2.Allows safe sharing and makes strings hashable (usable as dictionary keys)

11. What advantages do dictionaries offer over lists for certain tasks

Faster lookup with keys.

More semantic clarity using key-value pairs.

python
Copy
Edit

12. Describe a scenario where using a tuple would be preferable over a list.
When data should not change:

Function returns multiple values

Coordinates (x, y)

Dictionary keys

13.How do sets handle duplicate values in Python?
Sets do not allow duplicates.

Adding a duplicate value has no effect.

In [11]:
s = {1, 2, 2, 3}
print(s)

{1, 2, 3}

In [ ]:
# prompt: 14.How does the "in" keyword work differently for lists and dictionaries?

# The "in" keyword checks for membership in a sequence.  However, it behaves differently for lists and dictionaries:

# Lists:
# "in" checks if an element exists within the list.
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # Output: True
print(6 in my_list)  # Output: False

# Dictionaries:
# "in" checks if a *key* exists in the dictionary.  It does NOT check for values.
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("name" in my_dict)  # Output: True (checks if "name" is a key)
print("Alice" in my_dict) # Output: False (checks if "Alice" is a key)
print("Alice" in my_dict.values()) # Output: True (checks if "Alice" is a value)

15.Can you modify the elements of a tuple? Explain why or why not.
1.No, tuples are immutable.

2.Once created, the elements cannot be changed, added, or removed.
3. Immutability ensures data integrity, makes tuples hashable, and suitable as dictionary keys or set elements.

In [12]:
t = (1, 2, 3)
t(0)

TypeError: 'tuple' object is not callable

In [ ]:
16. What is a nested dictionary, and give an example of its use case?
A dictionary inside another dictionary.

Useful for representing structured data, like JSON.

In [13]:
students = {
    "001": {"name": "Alice", "age": 20},
    "002": {"name": "Bob", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary
1.Average case: O(1) constant time.

2.Worst case (rare, with hash collisions): O(n)

3.dictionaries use hash tables, which allow quick access based on the key.

18. In what situations are lists preferred over dictionaries?

1.When order of items matters.

2.When data doesn't have a natural key.

3.For simple sequences like to-do lists or arrays.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

1.In versions before Python 3.7, dicts did not preserve insertion order.

2.Now (Python 3.7+), they do, but conceptually, they’re unordered mappings.

3.this means you should not rely on order for logic, unless you intentionally use OrderedDict.

20. Explain the difference between a list and a dictionary in terms of dataretrieval

Feature 	          List	                   Dictionary
Access method	    By index (position)	       By key
Time complexity	    O(1) for index	         O(1) for key (average case)
Use case	          Ordered sequences	       Key-value pairs
Example	            my_list[0]	             my_dict["name"]

Practical questions

1. Write a code to create a string with your name and print it.

In [14]:
name = "sahana"
print(name)

sahana

2. Write a code to find the length of the string "Hello World".

In [15]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python] Programming".

In [16]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [18]:
s = "hello"
print(s.upper())

HELLO

In [ ]:
5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [19]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [21]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [22]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [23]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [26]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print("Index of 'cat':", cat_index)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check "kiwi" is in it.

In [29]:
fruits = ('apple', 'banana', 'mango')
print("Is 'kiwi' in the tuple?", 'kiwi' in fruits)

Is 'kiwi' in the tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [30]:
letters = {'a', 'b', 'c'}
print("Set:", letters)

Set: {'b', 'c', 'a'}

In [ ]:
17. Write a code to clear all elements from the set {1, 2, 3, 4, 5).

In [31]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print("Cleared set:", numbers)

Cleared set: set()

In [ ]:
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5).

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [34]:
set3 = {1, 2, 3}
set4 = {2, 3, 4}
intersection_set = set3.intersection(set4)
print("Intersection:", intersection_set)

Intersection: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
person = {"name": "John", "age": 25, "city": "New York"}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary ['name': 'John', 'age': 25].

In [36]:
person2 = {"name": "John", "age": 25}
person2["country"] = "USA"
print("Updated dictionary:", person2)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary ['name': 'Alice', 'age': 30).

In [37]:
person3 = {"name": "Alice", "age": 30}
print("Name:", person3["name"])

Name: Alice

In [ ]:
24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'].

In [38]:
person4 = {"name": "Bob", "age": 22, "city": "New York"}
del person4["age"]
print("Dictionary after removing 'age':", person4)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris').

In [39]:
person5 = {"name": "Alice", "city": "Paris"}
print("Does 'city' exist?", "city" in person5)

Does 'city' exist? True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'key1': 'value1', 'key2': 'value2'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'key1': 'value1', 'key2': 'value2'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [45]:
import random # import the random module

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [17, 27, 36, 47, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [42]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", string_list[3])

Element at index 3: date

In [ ]:
29. Write a code to combine two dictionaries into one and print the result.

In [43]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [44]:
string_items = ["apple", "banana", "apple", "cherry"]
string_set = set(string_items)
print("Set from list:", string_set)

Set from list: {'cherry', 'apple', 'banana'}